{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Shift</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>

    <div class="box">
        <div class="title" style="left: 0px;">Shift</div>
        <div class="box" style="width: 416px; margin-right: 1%;">
            <a onclick="showLoginForm()" class="btn">Log in</a>
            <a onclick="showRegistrationForm()" class="btn">Sign up</a>
        </div>
    </div>

    <div class="container">
        <div class="post-container">
            {% for post in shift_posts %}
            <div class="shift-post">
                <a href="{% url 'post' post_id=post.id %}" class="post-title">{{ post.title }}</a>
                <hr style="border: 3px solid #5C5C5C; width: 80%; margin: 0%;">
                <p style="margin: 5px">{{ post.content }}</p>
                <p style="margin: 5px">Created by {{ post.author.username }} on {{ post.created_at.month }} / {{ post.created_at.day }} / {{ post.created_at.year }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Home page with separate modal containers for login and registration -->
    <div class="modal-container" id="loginModalContainer">
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <h2 style="color: white;">Welcome back!</h2>
            <input type="text" id="{{ l_form.username.id_for_label }}" name="{{ l_form.username.name }}" placeholder="Username" required>
            <br>
            <input type="password" id="{{ l_form.password.id_for_label }}" name="{{ l_form.password.name }}" placeholder="Password" required>
            <br>
            <input type="submit" name="login_submit" value="Login">
        </form>
    </div>

    <div class="modal-container" id="registerModalContainer">
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <h2 style="color: white;">Welcome!</h2>
            <input type="text" id="{{ r_form.username.id_for_label }}" name="{{ r_form.username.name }}" placeholder="Username" required>
            <br>
            <input type="text" id="{{ r_form.email.id_for_label }}" name="{{ r_form.email.name }}" placeholder="Email" required>
            <br>
            <input type="password" id="{{ r_form.password1.id_for_label }}" name="{{ r_form.password1.name }}" placeholder="Password" required>
            <br>
            <input type="password" id="{{ r_form.password1.id_for_label }}" name="{{ r_form.password2.name }}" placeholder="Confirm password" required>
            <br>
            <input type="submit" name="register_submit" value="Register">
        </form>
    </div>

    <script>
        function showLoginForm() {
            document.getElementById('loginModalContainer').style.display = 'block';
        }

        function showRegistrationForm() {
            document.getElementById('registerModalContainer').style.display = 'block';
        }

        function closeForms() {
            document.getElementById('loginModalContainer').style.display = 'none';
            document.getElementById('registerModalContainer').style.display = 'none';
        }

        document.getElementById('registerModalContainer').addEventListener('click', function(event) {
            if (event.target.id === 'registerModalContainer') {
                closeForms();
            }
        });

        document.getElementById('loginModalContainer').addEventListener('click', function(event) {
            if (event.target.id === 'loginModalContainer') {
                closeForms();
            }
        });
    </script>


</body>

</html>

