{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Shift</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>

    <div class="box">
        <div class="title" style="left: 20px;">Shift</div>
        <div class="box" style="width: 416px; margin-right: 1%;">
            <a href="{% url 'user_login' %}" class="btn">Log in</a>
            <a href="{% url 'user_register' %}" class="btn">Sign up</a>
        </div>
    </div>

    <div class="container">
        <div class="post-container">
            {% for post in shift_posts %}
            <div class="shift-post">
                <h1 style="margin-bottom: 5px;">{{ post.title }}</h1>
                <p style="margin: 5px">{{ post.content }}</p>
                <p style="margin: 5px">Created by {{ post.author.username }} on {{ post.created_at.month }} / {{ post.created_at.day }} / {{ post.created_at.year }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>
