{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body style="text-align: center;">
    <form method="post">
        {% csrf_token %}
        <h2 style="color: white;">Welcome back!</h2>
        <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Username" required>
        <br>
        <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="Password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    
    <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>

</html>
