{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Shift</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>

    <div class="box">
        <div class="title" style="left: 20px;">Shift</div>
    </div>

    <div class="container">
        <a href="{% url 'new_shift' %}" class="new-shift">+</a>
        <a href="{% url 'profile' %}" class="new-shift" style="margin-bottom: 440px; font-size: 70px;">:P</a>
        <a href="{% url 'user_logout' %}" class="new-shift" style="margin-bottom: 140px; font-size: 60px;"><<</a>
        <div class="post-container">
            {% for post in shift_posts %}
            <div class="shift-post">
                <h1 style="margin: 5px;">{{ post.title }}</h1>
                <hr style="border: 3px solid #5C5C5C; width: 80%; margin: 0%;">
                <p style="margin: 5px">{{ post.content }}</p>
                <p style="margin: 5px">Created by {{ post.author.username }} on {{ post.created_at.month }} / {{ post.created_at.day }} / {{ post.created_at.year }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>