{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body style="text-align: center;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 style="color: white;">New shiftpost</h2>
        <input type="text" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}" placeholder="Title" required>
        <br>
        <textarea type="text" id="{{ form.content.id_for_label }}" name="{{ form.content.name }}" placeholder="Content" required></textarea>
        <br>
        <input type="submit" value="Create Post">
    </form>
</body>

</html>
