{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>

    <div class="box">
        <div class="title" style="left: 0px;">Shift</div>
    </div>

    <div class="container" style="cursor: pointer;">
        <a href="{% url 'home' %}" class="new-shift" style="font-size: 50px;">🏠</a>
        <div class="post-container">
            <div class="profile-card">
                <div class="profile-picture" style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%;">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'default_pfp.png' %}" alt="Default Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">
                    {% endif %}
                </div>

                <div>
                    {% if user.nickname %}
                        <h1 style="font-size: 1.6em; margin-bottom: 3px">{{ user.nickname }}</h1>
                        <p style="font-size: 0.8em; margin: 3px; color: #CCCCCC;">{{ user.username }}</p>
                    {% else %}
                        <h1 style="font-size: 1.6em; margin-bottom: 3px">{{ user.username }}</h1>
                    {% endif %}
                    <p style="font-size: 0.8em; margin: 3px; color: #CCCCCC;">{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
