{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body style="text-align: center;">
    <form method="post">
        {% csrf_token %}
        <h2 style="color: white;">Welcome!</h2>
        <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Username" required>
        <br>
        <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Password" required>
        <br>
        <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Confirm Password" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>

</html>
